body { 
  padding-top: 56px;
  background-color: black;
}

nav {
  font-size: 1.4em;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  z-index: 1;
}

#hero-landing {
  background-image: url("../images/1.svg");
  background-color: #cccccc;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  padding-left: 0px;
  padding-right: 0px;
}

#testy {
  margin: 0px;
  padding: 0px;
}

.jumbotron {
  background-color: transparent;
  color: #eeeeee;
  opacity: 0.8;
}

#contact-us {
  color: #eeeeee;
  background-color: #455a64;
  padding-top: 20px;
  box-shadow: 0 -2px -5px rgba(0,0,0,.26);
}

#contact-us-message {
  height: 150px;
}

#legal {
  background-color: #1c313a;
  color: #eeeeee;
  padding-top: 15px;
  font-size: 1.5em;
}