body { 
  background-color: #455a64;
  position: relative;
}

nav {
  font-size: 1.4em;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  z-index: 1;
}

.navbar {
  padding-top: 2px;
  padding-bottom: 2px;
}

.active {
    border-bottom: 1px solid blue;
}

#hero-landing {
  background-image: url("../images/1.svg");
  background-color: #cccccc;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  padding-left: 0px;
  padding-right: 0px;
}

.jumbotron {
  background-color: transparent;
  color: #eeeeee;
  opacity: 0.8;
  margin: 0;
}

.display-4 {
  text-decoration: underline;
}

#team {
  color: #eeeeee;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

#team-card {
  max-width: 18rem;
  background-color: #1c313a;
}

.card-img-top {
  border-style: solid;
  border-color: #4ba3c7;
  border-width: 0.6em;
  background-color: black;
  margin: 2%;
  width: 96%;
}

#contact-us {
  color: #eeeeee;
  /*background-color: #1c313a;*/
  padding-top: 20px;
  box-shadow: 0 -2px -5px rgba(0,0,0,.26);
}

#contact-us-message {
  height: 150px;
}

#legal {
  background-color: #1c313a;
  color: #eeeeee;
  padding-top: 15px;
  font-size: 1.5em;
  /*border-top: black solid;*/
}